<%- include('../includes/head.ejs') %>
<link href="category/css/styles.css" rel="stylesheet">
<link href="category/css/responsive.css" rel="stylesheet">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>

    <div class="slider display-table center-text">
        <h1 class="title display-table-cell"><b>Login</b></h1>
    </div><!-- slider -->

    <section class="blog-area section">
        <div class="container col-xl-5">
            <!-- Extended material form grid -->
            <!-- Extended default form grid -->
            <form>
                <!-- Grid row -->
                <div class="form-row">
                    <!-- Default input -->
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <!-- Default input -->
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>
                <!-- Grid row -->

                <!-- Default input -->
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <!-- Default input -->
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2"
                        placeholder="Apartment, studio, or floor">
                </div>
                <!-- Grid row -->
                <div class="form-row">
                    <!-- Default input -->
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity" placeholder="New York City">
                    </div>
                    <!-- Default input -->
                    <div class="form-group col-md-6">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip" placeholder="11206-1117">
                    </div>
                </div>
                <!-- Grid row -->
                <button type="submit" class="btn btn-primary btn-md">Sign in</button>
            </form>
            <!-- Extended default form grid -->
            <!-- Extended material form grid -->
        </div><!-- container -->
    </section><!-- section -->


    <%- include('../includes/footer.ejs') %>

    <%- include('../includes/end.ejs') %>