<%- include('../includes/head.ejs') %>
	<link href="category/css/styles.css" rel="stylesheet">
	<link href="category/css/responsive.css" rel="stylesheet">
</head>
    </head>
    <body>
        <!-- <%
            var express = require('express');
            var cookieParser = require('cookie-parser');
            
            var app = express();
            app.use(cookieParser()); 

            
        %> -->
    </body>
</html>