<%- include('../includes/head.ejs') %>
	<link href="/single-post-1/css/styles.css" rel="stylesheet">
	<link href="/single-post-1/css/responsive.css" rel="stylesheet">
</head>
<body >

	<%- include('../includes/navigation.ejs') %>

	<div class="slider">
		<div class="display-table  center-text">
			<h1 class="title display-table-cell"><b>DESIGN</b></h1>
		</div>
	</div><!-- slider -->


	<section class="post-area section">
		<div class="container">
			<div class="row">

				<div class="col-lg-8 col-md-12 no-right-padding">

					<div class="main-post">

						<div class="blog-post-inner">

							<div class="post-info">

								<div class="left-area">
									<a class="avatar" href="#"><img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/60285766_2334417313497948_7506251336048967680_n.jpg?_nc_cat=111&_nc_sid=09cbfe&_nc_ohc=tw1mMlxKRIIAX9wKRvw&_nc_ht=scontent-sin6-1.xx&oh=b2f2860b4b4220f2b0b3a14f4e6254ba&oe=5FA8F933" alt="Profile Image"></a>
								</div>

								<div class="middle-area">
									<a class="name" href="#"><b>Katy Liu</b></a>
									<h6 class="date">on Sep 29, 2017 at 9:48 am</h6>
								</div>

							</div><!-- post-info -->

							<h3 class="title"><a href="#"><b>How Did Van Gogh's Turbulent Mind Depict One of the Most Complex Concepts in Physics?</b></a></h3>

							<p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
							ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint
							occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

							<div class="post-image"><img src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.0-9/57176808_2310772395862440_4677370477998505984_n.jpg?_nc_cat=102&_nc_sid=730e14&_nc_ohc=EStB0_yY7loAX_c63rj&_nc_ht=scontent.fsgn5-4.fna&oh=4b129ed75db0f9f61ceed8b34f824dd7&oe=5FA985E5" alt="Blog Image"></div>

							<p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
							ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint
							occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

							
						</div><!-- blog-post-inner -->

						<div class="post-icons-area">
							<ul class="post-icons">
								<li><a href="#"><i class="ion-heart"></i>57</a></li>
								<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
								<li><a href="#"><i class="ion-eye"></i>138</a></li>
							</ul>

							<ul class="icons">
								<li>SHARE : </li>
								<li><a href="#"><i class="ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
							</ul>
						</div>

						
					</div><!-- main-post -->
				</div><!-- col-lg-8 col-md-12 -->

				<div class="col-lg-4 col-md-12 no-left-padding">

					<div class="single-post info-area">

						<div class="sidebar-area about-area">
							
							
							<div class="container">
								<div class="row">
									<img class="" style="width: 80%; border-radius: 10px;" src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/60285766_2334417313497948_7506251336048967680_n.jpg?_nc_cat=111&_nc_sid=09cbfe&_nc_ohc=tw1mMlxKRIIAX9wKRvw&_nc_ht=scontent-sin6-1.xx&oh=b2f2860b4b4220f2b0b3a14f4e6254ba&oe=5FA8F933" alt="">
									<div class="col-md-9 text-left">
										<h3 class="title pt-3"><b>Tu Nguyen</b></h3>
										<p>Email:tunguyen@gmail.com</p>
									</div>
								</div>
							</div><!-- container -->
						</div>
					
					</div><!-- info-area -->
				</div><!-- col-lg-4 col-md-12 -->

			</div><!-- row -->
		</div><!-- container -->
	</section><!-- post-area -->



	<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>
