<%- include('../includes/head.ejs') %>
	<link href="category/css/styles.css" rel="stylesheet">
	<link href="category/css/responsive.css" rel="stylesheet">
</head>
<body >

	<%- include('../includes/navigation.ejs') %>

	<div class="slider display-table center-text">
		<h1 class="title display-table-cell"><b>User Profile</b></h1>
	</div><!-- slider -->

	<section class="blog-area section">
		<div class="container">
			<div class="row">
				<img class="col-md-3" src="" alt="">
				
			</div>
		</div><!-- container -->
	</section><!-- section -->


	<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>
