<%- include('../includes/head.ejs') %>
<link href="category/css/styles.css" rel="stylesheet">
<link href="category/css/responsive.css" rel="stylesheet">
<link href="category/css/registerCSS.css" rel="stylesheet">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>

    <div class="slider display-table">
        <h1 class="title display-table-cell text-center"><b></b></h1>
    </div><!-- slider -->

    <section class="blog-area section">
        <div class="container col-xl-4">
            <div class="text-center">
                <h3 class="font-weight-bold">Sign Up</h3>
            </div>

            <!-- <form action="" method="POST" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>Fullname</td>
                        <td></td>
                        <td><input name="txtFullname" type="text"/></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td></td>
                        <td><input name="txtPassword" type="password"/></td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td></td>
                        <td><input name="txtPasswordComfirm" type="password"/></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td></td>
                        <td><input name="txtEmail" type="email"/></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" name="image" class="input-group input-file"/>
                            <button type="submit" name="upload" class="btn btn-primary pull-right">Upload</button>
                        </td>               
                    </tr>
                    

                </table>
            </form> -->
            <form action="/registration" enctype="multipart/form-data" method="POST">
                
                <div class="form-group text-left">
                    <label for="exampleInputPassword1">Fullname</label>
                    <input type="text" class="form-control" placeholder="Fullname">
                </div>
                <div class="form-group text-left">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp"
                        placeholder="Enter email">

                </div>
                <div class="form-group text-left">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>

                <div class="form-group text-left">
                    <label for="exampleInputPassword1">ComfirmPassword</label>
                    <input type="password" class="form-control" placeholder="ComfirmPassword">
                </div>
                <div class="form-group text-left">
                    <input type="file" name="image" class="input-group input-file" />
                    <button type="submit" name="upload" class="btn btn-primary pull-right">Upload</button>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div><!-- container -->
    </section><!-- section -->


    <%- include('../includes/footer.ejs') %>

    <%- include('../includes/end.ejs') %>