<%- include('../includes/head.ejs') %>
	<link href="category/css/styles.css" rel="stylesheet">
	<link href="category/css/responsive.css" rel="stylesheet">
</head>
    </head>
    <body>
        <!-- dang nhap thanh cong<%=user.fullname%> -->
    </body>
</html>